<!DOCTYPE html>
<h1>Hello {{name}},</h1>
<p>Please verify your account by clicking on the link below.</p>
<a href="{{url}}/verify-account/{{code}}">
    Verify account
</a>
<p>Best regards, Lizter</p>
